.Tutorial {
    margin: auto;
    box-sizing: border-box;
    min-width: 720px;
    @extend %flex-column;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 16px;
    border: 1px solid #173529;
    background:rgb(240,240,240);
    box-shadow:0 0 1px 1px gray;
    color: #173529;
    transition: width .25s;
    font-size: 1.5rem;
    max-width: 50vw;
    h6{
        margin: .5% 0;
        // text-align: center
    }
    a{
        transition: all .1s;
        color: lighten($text,15%);
    }
    a:hover{
        
        color: orange;
    }
    p{
        font-size: .75rem;
    }
    .B-S{
        display: flex;
        align-items: center;
        position: absolute;
        left: -25%;
        p {
            margin-right: 7px;
        }
    }
    .F-N{
        display: flex;
        align-items: center;
        position: absolute;
        left: -15%;
        bottom: -30%;
        p {
            margin-right: 7px;
        }
    }
    .Big {
        width: 400px;
        height: 128px;
        font-size: 2.5rem;
    }
    .fa-arrow-left{
        position: absolute;
        left: 5px;
        color: $text;
        transition: all .1s;
    }
    .fa-arrow-left:hover{
        color: orange;
    }
}



.Step{
    position: relative;
    @extend %flex-column;
    align-items: center;
    .Fret-Tut{
        margin-top: 5.5%;
    }
    .Strings{
        position: relative;
    }
    img {
        width: 50%;
    }
}

.String-Note {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px $text;
    @include size(2rem);
    // width: 18px;
    // height: 18px;
    position: relative;
  }

 
@media (max-width: 800px){
    .Tutorial{
        min-width: 100px;
        max-width: 500px;
        h1{
            font-size: 2rem;
        }
        h6{
            font-size: .75rem;
        }
        .String-Note{
            @include size(1rem);
            font-size: 1rem;
        }
        .Open{
            height: 1rem;
            width: .5rem;
        }
        .Fret{
            @include size(1rem);
        }
        .Dot{
            @include size(.5rem);
        }
        p{
            font-size: .5rem;
        }
        .B-S{
            left: -35%;
        }
        .F-N{
            left: -25%;
        }
        .Scale-Note{
            @include size(1rem);
            border-width: 1px;
            h3{
                font-size: .75rem;
            }
        }
    }
}

@media (max-width: 520px){
    .Tutorial{
        min-width: 100px;
        max-width: 300px;
        h1{
            font-size: 1rem;
        }
        h6{
            font-size: .5rem;
        }
        .String-Note{
            @include size(1rem);
            font-size: 1rem;
        }
        .Open{
            height: 1rem;
            width: .5rem;
        }
        .Fret{
            @include size(1rem);
        }
        .Dot{
            @include size(.5rem);
        }
        p{
            font-size: .5rem;
        }
        .B-S{
            display: none;
        }
        .F-N{
            display: none;
        }
        .Scale-Note{
            @include size(1rem);
            border-width: 1px;
            h3{
                font-size: .75rem;
            }
        }
        .Big {
            width: 200px;
            height: 128px;
            font-size: 1.5rem;
        }
    }
}