@import "../../Vars";

.String {
  display: flex;
}

.Fret {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px $text;
  @include size(32px);
  position: relative;
}

.Fret-Num {
  position: absolute;
  bottom: -125%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 12px;
  text-align: center;
}

.Open{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px $text;
  height: 2rem;
  width: 1rem;
  position: relative;
  transition: all .15s;
}

.Open-Note{
  background: $primary;
}

.Dot {
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  // position: absolute;
  border: 1px solid $text;
  margin-top: 100%;
  // left: 25%;
  // bottom: -30%;
  background: $primary;
  @include size(1rem);
  border-radius: 25px;
  color: $text;
  transition: all .15s;
  font-size: .5rem;
}


.Active {
  transform: scale(1.75);
  background: orange;
}



.Note {
  opacity: 0;
}

@media (min-width: 1024px) {
  .Fret-Num {
    font-size: 16px;
  }
}
