@import './Components/Fretboard/Fretboard.scss';
@import './Components/Header/Header.scss';
@import './Components/Login/Login';
@import './Components/String/String.scss';
@import './Components/Welcome/Welcome';
@import './Views/Home/Home';

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 16px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    margin: 10px;
    background: none;
    border-color: $background;
    border-style: solid;
    border-radius: 5px;
    color: $background;
    width: 100px;
    height: 32px;
    transition: all .25s;
  }
  
  button:hover {
    background: $background;
    color: #173529;
  }
  
  button:active {
    background: orange;
    border-color: orange;
    color: $background;
  }
  
  button:focus {
    outline: 0;
  }
  
  select{
    cursor: pointer;
    border-color: $text;
    color: $text;
    background: $lightBG;
    text-align: center;
    text-align-last: center;
  }

  select:hover, select:focus{
    border-color: lighten($text,25%);
    color: lighten($text,25%);
}
  
  option{
    text-align: center;
  }

  select:disabled{
    cursor: default;
    border-color: darken($background, 25%);
    color: darken($background, 50%);
    background: $background;
    box-shadow: inset 0 1px 5px grey;
  }

  
  